<div class="container">
  <div class="screen row">
    <h1 class="welcome"></h1>
    <div class="col-sm-10 centerCol">
      <ul class="nav nav-tabs">
        <li class="my_classes"><a href="#/my_classes">My Classes</a></li>
      </ul>
      <div id="main"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    LLU.initialize();
  });
</script>